@CHARSET "UTF-8";

#wrap_container {
    
    background-color:#dad8d8;
    height:100%;
    width:100%;
    margin:10px;
}
#header_container, main_container {
    
    background-color:#807f7f;
    height:100%;
    width:100%;
    margin:10px;
    
}